#speed{
    font-size: 23px;
    margin: 15px;
}

canvas{
    border: 10px dashed whitesmoke;
    border-radius: 50px;
    margin-top: 50px;
}

.heading{
font-size: 20px;
}
.play{
    width: 10%;
    height: 50px;
    text-align: center;
    font-size: large;
}